body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 224, 229);
    padding: 35px;
  }
  h1 {
    color: blue;
  }
  p {
    font-size: 20px;
    padding: 35px;
  }
  .container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }